/*body*/
body {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
  color: #444444;
  font-weight: normal;
  line-height: 1.4;
  margin: 0;
}
/*fonts*/
p {
  font-family: "Lato", sans-serif;
}
/* header*/
.header {
  background-color: #a2c8c8;
  height: 48px;
}

.navdesktop {
  display: none;
}

.container {
  margin: 0 auto;
}

.logo img {
  height: 35px;
  padding: 8px;
  margin-left: 10px;
}

.flexnav {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

nav li {
  display: inline;
  padding: 20px;
}

.navdesktop i {
  margin-right: 10px;
  color: rgba(12, 53, 65, 1);
}

/*hero-banner*/
.hero-banner {
  height: 480px;
}

.hike {
  background-image: url(/img/sylvain-mauroux-iOBWoIvldmw-unsplash.jpg\ riktig.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  height: 480px;
}

.slogan {
  color: aliceblue;
  text-align: center;
  padding: 50px;
}

.slogan h1 {
  margin-top: 0px;
}

/*text- sellingpoint*/
.flexsp {
  display: flex;
  justify-content: center;
}

.sellingpoints h2 {
  text-align: center;
  margin: 5px 10px 0 10px;
  max-width: 400px;
}

.sellingpoints p {
  text-align: center;
  margin: 5px 10px 0 10px;
  max-width: 400px;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
}

.buttonhp {
  font-family: "Roboto", sans-serif;
  background-color: #daaf9f;
  color: #444444;
  width: 200px;
  margin: 20px 0px;
  border: none;
  border-radius: 2px;
  padding: 5px 0;
}

/*offer 10%*/
.container .offertext {
  height: 240px;
  background-color: #588b99;
}

.offertext {
  text-align: center;
  align-items: center;
  color: aliceblue;
  padding-top: 70px;
}

.offertext h2 {
  margin-top: 20px;
  margin-bottom: 0px;
}

.offertext h5 {
  margin-top: 0;
}

.input-text {
  font-family: "Lato", sans-serif;
  font-size: medium;
}

.joinbutton {
  font-family: "Lato", sans-serif;
  background-color: gainsboro;
  border-radius: 10%;
  border: #444444;
  font-size: medium;
  margin-left: 0px;
}

/*inspo pictures*/
.inspoimg .container {
  margin-top: 20px;
}

.imgbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 230px;
  width: 100%;
  margin-bottom: 20px;
}

#inspoimg1 {
  background-image: url(/img/kano.jpg);
}

#inspoimg2 {
  background-image: url(/img/vinter.jpg);
}

#inspoimg2 .text {
  color: #444444;
}

#inspoimg3 .text {
  color: #444444;
  text-align: right;
}

#inspoimg3 {
  background-image: url(/img/photo.jpg);
}

/*footer*/
.footer .container {
  display: flex;
  flex-direction: column;
  background-color: rgb(173, 173, 173);
  height: 360px;
  margin-top: 20px;
}

.footerinfo p {
  margin-left: 10px;
  font-size: 12px;
}

.footerinfo h4 {
  margin-left: 10px;
  margin-bottom: 5px;
}

.footerinfo2 p {
  font-size: 8px;
  margin-top: 20px;
  text-align: left;
}

.footerinfo i {
  color: rgba(12, 53, 65, 1);
  padding-right: 10px;
}

.navmobil {
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  justify-content: center;
  height: 48px;
  background-color: #a2c8c8;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navmobilcontent a i {
  color: rgba(12, 53, 65, 1);
  margin-top: 15px;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 767px) {
  .navmobil {
    display: none;
  }
  .container {
    margin-right: 10px;
    margin-left: 10px;
    margin: 0 auto;
  }
  .navdesktop {
    display: flex;
  }
  a:link {
    text-decoration: none;
  }
  a:link {
    color: #588b99;
  }
  a:visited {
    color: #588b99;
  }
  a:hover {
    color: aliceblue;
  }
  .imgbox {
    display: flex;
    flex-direction: row;
  }
  .flexsp {
    display: flex;
    justify-content: center;
  }

  .img {
    width: 100%;
    margin: 0 10px;
  }

  .footer .container {
    height: 250px;
  }
  .content-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
